[submodule "rust-registration"]
	path = rust-registration
	url = git@github.com:rishavmehra/rust-registration.git
[submodule "ts-assignment"]
	path = ts-assignment
	url = git@github.com:rishavmehra/ts-assignment.git
[submodule "solana-starter"]
	path = solana-starter
	url = git@github.com:rishavmehra/solana-starter.git
