[submodule "rust-registration"]
	path = rust-registration
	url = git@github.com:rishavmehra/rust-registration.git
[submodule "ts-assignment"]
	path = ts-assignment
	url = git@github.com:rishavmehra/ts-assignment.git
[submodule "solana-starter"]
	path = solana-starter
	url = git@github.com:rishavmehra/solana-starter.git
[submodule "escrow-program"]
	path = escrow-program
	url = git@github.com:rishavmehra/escrow-program.git
[submodule "lending"]
	path = lending
	url = git@github.com:rishavmehra/lending.git
[submodule "solana-trading"]
	path = solana-trading
	url = git@github.com:rishavmehra/solana-trading.git
